.container {
  padding: 2rem;
  background-color: #f9f9f9;
}

.pageTitle {
  text-align: center;
  padding-bottom: 2rem;
  font-weight: 600;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: 0 70px;
  justify-items: start;
}

/* Pagination container */
.paginationWrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

/* Tablet view */
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 30px;
    justify-items: center;
  }
}

/* Mobile view */
@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
    margin: 0 auto;
    justify-items: center;
  }

  .pageTitle {
    font-size: 24px;
  }
}
