.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 320px;
  text-align: center;
  position: relative;

  h2 {
    margin-bottom: 10px;
  }

  .instruction {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
  }

  label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #b30021;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s;

    &:hover {
      background: #90001a;
    }
  }
}

/* X button */
.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #555;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: #b30021;
  }
}

@media (max-width: 768px) {
  .modal-content {
    width: 90%;
    padding: 18px;
    max-height: 90vh;
    overflow-y: auto;

    h2 {
      font-size: 27px;
    }

    .instruction {
      font-size: 19px;
    }

    label {
      font-size: 18px;
    }

    input {
      font-size: 18px;
      padding: 10px;
    }

    button {
      font-size: 20px;
      padding: 12px;
    }
  }

  .close-button {
    font-size: 25px;
    top: 8px;
    right: 10px;
  }
}

@media (max-width: 480px) {
  .modal-content {
    padding: 16px;

    h2 {
      font-size: 27px;
    }

    .instruction {
      font-size: 17px;
    }

    label {
      font-size: 16px;
    }

    input {
      padding: 10px;
      font-size: 17px;
    }

    button {
      font-size: 16px;
    }
  }
}
